{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <form action="" method="POST">
        {% csrf_token %}
    </form>
    <div class="row mx-3"> 
        {% for listing in active_listings %}
            <div class="card mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.imageURL }}" alt="picture of {{listing.title}}" width="300px" height="200">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Price: ${{listing.price}}</small>
                </div>
            </div>
        {% endfor %}
    </div>
  

{% endblock %}